*{
    box-sizing:border-box;
    font-family: 'Rubik', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Fira Sans', sans-serif;
}

a:link{
    color:goldenrod;
    text-decoration:underline;
}

.js-results-holder a:link{
    text-decoration:none;
}

.js-results-holder a:visited{
    color:white;
}

a:visited{
    color: goldenrod;
}

a:hover{
    color: crimson;
}

select{
    width:300px;
}

body{
    background-color: lightyellow;
}

header{
    text-align:center;
}

.search-field-holder{
    border: 5px black solid;
    background-color: crimson;
}
.pic-container img{
    border: 5px black solid;
    border-radius: 25px;
    border-color: whitesmoke;
}
.flex-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.flex-container-inner{
    display:flex;
    flex-direction:column;
}

#js-search-box{
    width:300px;
    margin-bottom: 10px;
    border: 3px black solid;

}

.search-container{
    position:relative;
    bottom:50px;
}

#country-choices{
    opacity: 1;
    font-size: 21px;
    margin-bottom: 10px;
    border: 3px black solid;
}

.js-pop-info{
    height: 100%;
    width: 500px;
    background-color: midnightblue;
    color:white;
    position: static;
    text-align: center;
    left: 750px;
    bottom: 100px;
    margin-bottom:30px;
    margin-right: 30px;
    flex:1;
    border: 5px black solid;
    padding: 10px;
    /* box-shadow: 5px 10px 8px 10px orangered; */
    max-height: 350px;
    border-radius:25px;
}

.js-poprace-info{
    height: 100%;
    width: 500px;
    background-color: midnightblue;
    color:white;
    position: static;
    text-align: center;
    left: 750px;
    bottom: 100px;
    margin-bottom:80px;
    margin-right: 30px;
    flex:1;
    border: 5px black solid;
    padding: 10px;
    /* box-shadow: 5px 10px 8px 10px orangered; */
    max-height: 350px;
    border-radius:25px;

}

.no-results{
    font-weight: bold;
    font-size: 20px;
}

.js-youtube-holder{
    height: 100%;
    width: 500px;
    background-color: midnightblue;
    color:white;
    position: static;
    text-align: center;
    left: 750px;
    bottom: 100px;
    margin-bottom:30px;
    margin-right: 30px;
    flex:1;
    border: 5px black solid;
    padding: 10px;
    /* box-shadow: 5px 10px 8px 10px orangered; */
    max-height: 350px;
    border-radius:25px;

}

.js-results-holder{
    overflow: auto;
    margin-top: 80px;
    flex:1;
    border: 5px black solid;
    padding: 10px;
    /* box-shadow: 5px 10px 8px 10px orangered; */
    max-width:700px;
    max-height:1300px;
    background-color:midnightblue;
    color:white;
}

.js-results-holder h2{
    background-color: white;
    color: blue;
    text-align:center;
}

.chosen-result {
    height: 100%;
    width: 500px;
    background-color: midnightblue;
    color:white;
    position: static;
    text-align: center;
    left: 750px;
    bottom: 100px;
    margin-top:80px;
    margin-bottom:30px;
    border: 5px black solid;
    padding: 10px;
    /* box-shadow: 5px 10px 8px 10px orangered; */
    border-radius:25px;
    flex:1;
    max-height: 350px;
}

.results-header{
    margin-bottom:0px;
    margin-left: 2px;
    padding: 12px;
    margin-top: 0px;
    left: 60px;
    bottom: 405px;
    position: relative;
}

.result_school_name{
    font-weight: bold;
}

.result_school_name:hover{
    color: orangered;
    cursor:pointer;
}

.chosen-result div{
    display:inline-block;
    font-size: 30px;
}

.chosen-result img{
    height:50px;
}

.chosen-result p{
    font-size:23px;
    font-weight:bold;
}

.orange-check-country img{
    height:25px;
    width: 25px;
}

.orange-check-school img{
    height:25px;
    width: 25px;
}

/* a:link{
    text-decoration: none;
} */

.hidden{
    display:none;
}

p{
    margin:0;
}

fieldset {
    border: none;
    display: inline-block;
    position: relative;
    top: 50px;
    left: 25px;   
}

legend {
    color: white;
    padding: 5px;
    font-size: 19px;
    font-weight: bold;
}

/*Fade*/

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


 
/*Buttons*/

button{
    display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
      color: #fff; 
      background-color: midnightblue;
      border-color: lightyellow;
      cursor: pointer;
      width: 80px;
  }
  
  button:hover{
    background-color: goldenrod;
  }

/*Media Queries*/

@media only screen and (max-width: 320px){
    #js-search-box{
        width:250px;
        margin-bottom: 10px;
        border: 3px black solid;
    }

    #country-choices{
        opacity: 1;
        font-size: 21px;
        margin-bottom: 10px;
        border: 3px black solid;
        width: 250px;
    }

    /* .chosen-result p{
        font-size:23px;   
    } */

}


@media only screen and (max-width:768px){
    
    .js-pop-info{
        margin-bottom:0px;
        height: 100%;
        background-color: midnightblue;
        color: white;
        position: static;
        text-align: center;
        left: 750px;
        bottom: 100px;
        margin-top:80px;
        width: auto;
        margin:10px;
    }

    .js-poprace-info{
        margin-bottom:0px;
        height: 100%;
        background-color: midnightblue;
        color:white;
        position: static;
        text-align: center;
        left: 750px;
        bottom: 100px;
        margin-top:80px;
        width: auto;
        margin:10px;
    }
    

    .chosen-result p{
        font-size: 23px;
        font-weight:bold;
    }
    .chosen-result{
        margin-bottom:0px;
        height: 100%;
        background-color: midnightblue;
        color:white;
        position: static;
        text-align: center;
        left: 750px;
        bottom: 100px;
        margin-top:80px;
        width: auto;
        margin:10px;
    }

    fieldset{
        left: 0px;
    }

    .flex-container{
        display:flex;
        flex-direction:column;
        padding:5px;
    }

    .js-youtube-holder img{
        width:250px;
    }

    .js-youtube-holder{
        height: 100%;
        width: auto;
        background-color: midnightblue;
        color: white;
        position: static;
        text-align: center;
        left: 750px;
        bottom: 100px;
        margin-top:80px;
        margin-bottom:30px;
        margin:10px;
    }

    .js-results-holder{
        margin:10px;
    }
    
}

/*ScrollBar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/*Media Queries*/




