*{
    box-sizing:border-box;
    font-family: 'Rubik', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Fira Sans', sans-serif;
}

body{
    background-image:url(background_bottom.gif);
    background-position: bottom;
    background-repeat: repeat-x;
    background-attachment: fixed; 
}

header{
    text-align:center;
}

.orange-check-country img{
    height:25px;
    width: 25px;
}

.orange-check-school img{
    height:25px;
    width: 25px;
}

a:link{
    text-decoration: none;
}

.hidden{
    display:none;
}

p{
    margin:0;
}

fieldset {
    border: none;
    display: inline-block;
    position: relative;
    top: 50px;
    left: 25px;   
}

legend {
    color: darkorange;
    padding: 5px;
    font-size: 19px;
    font-weight: bold;
}

.js-results-holder {
    overflow: auto;
    margin-top: 50px;
}

.js-results-holder h2{
    background-color: white;
    color: blue;
}

#js-search-box{
    width:338px;
    margin-bottom: 10px;
}

.results-header{
    margin-bottom:0px;
    margin-left: 2px;
    padding: 12px;
    margin-top: 0px;
    left: 60px;
    bottom: 405px;
    position: relative;
}

.search-container{
    position:relative;
    bottom:50px;
}

.result_school_name{
    font-weight: bold;
}

.result_school_name:hover{
    color: red;
    cursor:pointer;
}

.chosen-result {
    height: 100%;
    width: 800px;
    background-color: peachpuff;
    position: static;
    text-align: center;
    left: 750px;
    bottom: 100px;
    margin-top:80px;
    margin-bottom:80px;
}

.chosen-result div{
    display:inline-block;
    font-size: 30px;
}

.chosen-result img{
    height:50px;
}

#country-choices{
    opacity: 1;
    font-size: 21px;
    margin-bottom: 10px;
}

/*Fade*/

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*Buttons*/

button{
    display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
      color: #fff; 
      background-color: black;
      border-color: black;
      cursor: pointer;
  }
  
  button:hover{
    background-color: red;
  }

/*Media Queries*/

@media only screen and (max-width: 360px) {
    .chosen-result p{
        font-size: 23px;
    }
    .chosen-result{
        margin-bottom:0px;
        height: 100%;
        background-color: peachpuff;
        position: static;
        text-align: center;
        left: 750px;
        bottom: 100px;
        margin-top:80px;
        width: auto;
    }

    fieldset{
        left: 0px;
    }
}


@media only screen and (max-width: 415px) {
    .chosen-result p{
        font-size: 20px;
    }

    .chosen-result{
        margin-bottom:0px;
        height: 100%;
        background-color: peachpuff;
        position: static;
        text-align: center;
        left: 750px;
        bottom: 100px;
        margin-top:80px;
        width: auto;
    }

    fieldset{
        left: 0px;
    }
}

@media only screen and (max-width:320px){
    header{
        position: relative;
        left: 40px;
    }

    .chosen-result p{
        font-size: 23px;
    }

    .chosen-result {
        margin-bottom: 0px;
        height: 100%;
        background-color: peachpuff;
        position: static;
        text-align: center;
        left: 750px;
        bottom: 100px;
        margin-top: 80px;
        width: 400px;
    }

    .js-results-holder {
        overflow: auto;
        width: 400px;
        margin-top: 50px;
    }
}


